input {
    margin-bottom: 1rem;
    border: 3px thin rgb(0, 0, 0);
    background-color: rgb(215, 246, 219);
    height: 3rem;
}

label {
    margin-bottom: 0.5rem;
    color: rgb(64, 66, 71);
}

.cancelButton{
    width: 20px;
}