input {
    margin-bottom: 1rem;
    border: 3px thin rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 3rem;
}

label {
    margin-bottom: 0.5rem;
    color: rgb(83, 83, 83);
}

.cancelButton{
    width: 20px;
}
